# Build folder and files #
##########################
dist/

# Development folders and files #
#################################
build/
node_modules/

# Log files & folders #
#######################
logs/
*.log
npm-debug.log*
.npm

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Windows & Mac file caches #
#############################
.DS_Store
Thumbs.db
ehthumbs.db

# Windows shortcuts #
#####################
*.lnk
